.donationForm{
    display: grid; 
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}
#formName{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
}
#formCity{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
}
#formZip{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
}
#formCategories{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
}